* {
  box-sizing: border-box;
  font-weight: 400;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

a{
  text-decoration: none;
}

body {
  background-color: rgb(41, 38, 70);
  font-family: Inter-SemiBold, sans-serif;
}

.bg-fastgaming {
  background-color: rgb(41, 38, 70) !important;
}

.bg-sec-fastgaming {
  background-color: rgb(63, 79, 145) !important;
}

.bg-3rd-fastgaming {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.text-fastgaming {
  color: rgb(41, 38, 70) !important;
}

.text-white {
  color: rgb(255, 255, 255);
}

.text-black {
  color: rgb(0, 0, 0);
}

.text-red{
  color: red;
}

.last-tx_box {
  border: solid rgb(63, 79, 145) 3px;
}

.img-fluid:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffffff;
}

.img-fluid:hover {
  color: #ffffff;
  box-shadow: 0 0 15px #ffffff;
  text-shadow: 0 0 15px #ffffff;
}

.img-logo {
  margin-right: 2px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}

@media (min-width: 992px) {
  .col-lg-25 {
    flex: 0 0 auto;
    width: 20%;
  }

  span {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  span {
    font-size: 10px;
  }
}

.img-profile {
  width: 200px;
  height: 200px;
  background: #dac52c;
  border-radius: 100%;
}

/* .accordion-item { 
    color: black;
}*/

.accordion-menu:first-of-typ {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.accordion-menu {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
}

.accordion-menu-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.number{
  text-align: center;
  background: rgb(63, 79, 145) !important;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  float: left;
  padding: 8px 5px 5px 5px;
  margin-top: -45px;
}